<main class="l-main l-main--clear">
  <div class="c-communication">
    <div class="c-communication__container">
      <div class="c-communication__inner">
        <div class="c-communication__image">
          <img src="{{asset "built/images/about-us-communication-image-1.svg"}}" alt="" />
        </div>
        <div class="c-communication__body">
          <div class="c-communication__title">
            More Than Just a Software Company, We’re Changing The Way The Global Marketplace is Thinking About Communication
          </div>
          <div class="c-communication__content">
            Until now online transactions have been limited to goods and services with very little customization beyond using a drop down menu to choose the color, size and delivery date. With DocuWalk’s end-to-end solution you can now
            carry out much more sophisticated transactions — including everything from real estate to vendor or client agreements to deeds & wills — and know that each step of the process is safe and secure.
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="c-co-founders">
    <div class="c-co-founders__container">
      <div class="c-co-founders__inner">
        <div class="c-co-founders__persons">
          <div class="c-co-founders__person">
            <div class="c-co-founders__person--image">
              <img src="{{asset "built/images/seo@3x.png"}}" alt="Chao Cheng-Shorland" />
            </div>
            <div class="c-co-founders__person--content">
              <div class="c-co-founders__person--quote">
                "After 25-years in enterprise software, having witnessed a fragmented and inefficient landscape. I decided it was time we set out to build a platform that would illuminate the business world in total efficiency and
                intelligence."
              </div>
              <div class="c-co-founders__person--name">
                Chao Cheng-Shorland
              </div>
              <div class="c-co-founders__person--position">
                Co-founder and CEO
              </div>
            </div>
          </div>
          <div class="c-co-founders__person">
            <div class="c-co-founders__person--image">
              <img src="{{asset "built/images/president@3x.png"}}" alt="Allen Alishahi" />
            </div>
            <div class="c-co-founders__person--content">
              <div class="c-co-founders__person--quote">
                "We have given birth to a new species of documents that will underpin society’s innovation, growth and evolution."
              </div>
              <div class="c-co-founders__person--name">
                Allen Alishahi
              </div>
              <div class="c-co-founders__person--position">
                Co-founder and President
              </div>
            </div>
          </div>
        </div>
        <div class="c-co-founders__quote">
          <div class="c-co-founders__text">
            Nearly every industry needs a secure way to work remotely. DocuWalk provides the latest advancements in privacy and security for contract and document management for every individual and organization.
          </div>
          <div class="c-co-founders__name">
            Chao Cheng-Shorland
          </div>
          <div class="c-co-founders__company">
            Co-founder and CEO
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="getInTouch" class="c-get-in-touch">
    <div class="c-get-in-touch__container">
      <div class="c-get-in-touch__inner">
        <div class="c-get-in-touch__content">
          <div class="c-get-in-touch__title">
            Get In touch
          </div>
          <div class="c-get-in-touch__text">
            We always love to hear from our customers and industry professionals. Drop us a line to let us know what’s on your mind.
          </div>

          <div class="c-get-in-touch__image"></div>
        </div>
        <div class="c-get-in-touch__contacts">
          <div class="c-contact">
            <div class="c-contact__title">
              ADDRESS
            </div>
            <div class="c-contact__inner">
              <div class="c-contact__item">
                <div class="c-contact__block">
                  <div class="c-contact__row">
                    <div class="c-contact__value">
                      14 Wall Street, 20th Floor, <br />
                      NY, New York, 10005 <br />
                      USA
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="c-contact">
            <div class="c-contact__title">
              CONTACT
            </div>
            <div class="c-contact__inner">
              <div class="c-contact__item">
                <div class="c-contact__sub-title">
                  ShelterZoom Corporate - Main Numbers:
                </div>
                <div class="c-contact__block">
                  <div class="c-contact__row">
                    <a class="c-contact__link" href="tel:+16462905880">
                      +1 (646) 290-5880
                    </a>
                    (International)
                  </div>
                  <div class="c-contact__row">
                    <a class="c-contact__link" href="tel:+18337109666">
                      +1 (833) 710-9666
                    </a>
                    (Toll free: US &amp; Canada)
                  </div>
                </div>
              </div>

              <div class="c-contact__item">
                <div class="c-contact__sub-title">
                  DocuWalk Sales
                </div>
                <div class="c-contact__block">
                  <div class="c-contact__row">
                    <a class="c-contact__link" href="tel:+16469241769">
                      +1 (646) 924-1769
                    </a>
                    (International)
                  </div>
                  <div class="c-contact__row">
                    <a class="c-contact__link" href="tel:+18337818660">
                      +1 (833) 781-8660
                    </a>
                    (Toll free: US &amp; Canada)
                  </div>
                </div>
              </div>

              <div class="c-contact__item">
                <div class="c-contact__sub-title">
                  DocuWalk Support
                </div>
                <div class="c-contact__block">
                  <div class="c-contact__row">
                    <a class="c-contact__link" href="tel:+16464354459">
                      +1 (646) 435-4459
                    </a>
                    (International)
                  </div>
                  <div class="c-contact__row">
                    <a class="c-contact__link" href="tel:+18337817705">
                      +1 (833) 781-7705
                    </a>
                    (Toll free: US &amp; Canada)
                  </div>
                </div>
              </div>

              <div class="c-contact__item">
                <div class="c-contact__block">
                  <div class="c-contact__row">
                    <a class="c-contact__link" href="mailto:info@shelterzoom.com">
                      info@shelterzoom.com
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="c-get-in-touch__form">
          <form class="c-form c-form--lg" id="wf-form-contactUs" name="wf-form-contactUs" data-name="contactUs" method="post" action="//identity.docuwalk.com/api/leads/new" redirect="/pricing" data-redirect="/pricing">
            <div class="c-form__inner">
              <div class="c-form__row c-form__row--2">
                <div class="c-form__col">
                  <input type="text" maxlength="70" name="firstName" data-name="firstName" placeholder="Name" class="c-field w-input" required />
                </div>
                <div class="c-form__col">
                  <input type="email" maxlength="70" name="email" data-name="email" placeholder="Email" class="c-field w-input" required />
                </div>
              </div>
              <div class="c-form__row c-form__row--1">
                <div class="c-form__col">
                  <input type="text" maxlength="70" name="company" data-name="company" placeholder="Company" class="c-field w-input" required />
                </div>
              </div>
              <div class="c-form__row c-form__row--1">
                <div class="c-form__col">
                  <textarea class="c-field w-input" maxlength="500" name="message" data-name="message" placeholder="Message" spellcheck="false" required></textarea>
                </div>
              </div>
              <div class="c-form__row c-form__row--1">
                <div class="c-form__col c-form__col--flex-end">
                  <input type="submit" value="Submit" data-wait="Please wait..." class="c-btn c-btn--light-blue c-btn--min w-button" />
                  <input type="text" value="contactUs" maxlength="20" name="formName" hidden required readonly />
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="c-work c-work--about-us">
    <div class="c-work__container">
      <div class="c-work__inner">
        <div class="c-work__body">
          <div class="c-work__title">
            Work with us
          </div>
          <div class="c-work__content">
            If you’re a rockstar that wants to join a fun growing company that’s determined to change the way the world thinks about secure communication and legal contracts, come join our team.
          </div>
          <div class="c-work__controls">
            <a href="#getInTouch" class="c-btn c-btn--light-blue c-work__button w-button">
              Learn More
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="c-newsletter">
    <div class="c-newsletter__container">
      <div class="c-newsletter__inner">
        <div class="c-newsletter__image">
          <img src="{{asset "built/images/about-us-newsletter-image.svg"}}" alt="" />
        </div>
        <div class="c-newsletter__body">
          <div class="c-newsletter__title">
            Sign up to our newsletter
          </div>
          <div class="c-newsletter__content">
            We won’t sell your name or email address. Ever. Sign up to get our latest company news and product roll outs.
          </div>
          <div class="c-newsletter__form">
            <form class="c-form" id="wf-form-subscribe" name="wf-form-subscribe" data-name="subscribe" method="post" action="//identity.docuwalk.com/api/leads/new" redirect="/pricing" data-redirect="/pricing">
              <div class="c-form__inner">
                <div class="c-form__row c-form__row--1">
                  <div class="c-form__col">
                    <input type="text" maxlength="70" name="firstName" data-name="firstName" placeholder="Your name" class="c-field w-input" />
                  </div>
                </div>
                <div class="c-form__row c-form__row--1">
                  <div class="c-form__col">
                    <input type="email" maxlength="70" name="email" data-name="email" placeholder="Your email" class="c-field w-input" required />
                  </div>
                </div>
                <div class="c-form__row c-form__row--1">
                  <div class="c-form__col">
                    <input type="submit" value="Subscribe" data-wait="Please wait..." class="c-btn c-btn--dark-blue c-btn--min w-button" />
                    <input type="text" value="subscribe" maxlength="20" name="formName" hidden readonly required />
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
