<main class="l-main l-main--bg-beige l-main--clear">
  <div class="c-faq">
    <div class="c-faq__container">
      <div class="c-faq__inner">
        <div class="c-faq__body">
          <div class="c-faq__title">
            Get answers to all life’s questions, or at least answers on how to use our platform
          </div>
          <div class="c-faq__content">
            <!--
            <div class="c-accordion">
              <div class="c-accordion__item">
                <input type="checkbox" name="c-accordion" hidden id="c-accordion-1">
                <label class="c-accordion__title" for="c-accordion-1">
                  <span class="c-accordion__plus"></span>
                  How do I log in
                </label>
                <div class="c-accordion__dropdown">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  <br><br>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                </div>
              </div>

              <div class="c-accordion__item">
                <input type="checkbox" name="c-accordion" hidden id="c-accordion-2">
                <label class="c-accordion__title" for="c-accordion-2">
                  <span class="c-accordion__plus"></span>
                  How do I negotiate a contract
                </label>
                <div class="c-accordion__dropdown">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  <br><br>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                </div>
              </div>

              <div class="c-accordion__item">
                <input type="checkbox" name="c-accordion" hidden id="c-accordion-3">
                <label class="c-accordion__title" for="c-accordion-3">
                  <span class="c-accordion__plus"></span>
                  What is a wallet ID?
                </label>
                <div class="c-accordion__dropdown">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  <br><br>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                </div>
              </div>

              <div class="c-accordion__item">
                <input type="checkbox" name="c-accordion" hidden id="c-accordion-4">
                <label class="c-accordion__title" for="c-accordion-4">
                  <span class="c-accordion__plus"></span>
                  FAQ Questions?
                </label>
                <div class="c-accordion__dropdown">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  <br><br>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                </div>
              </div>

              <div class="c-accordion__item">
                <input type="checkbox" name="c-accordion" hidden id="c-accordion-5">
                <label class="c-accordion__title" for="c-accordion-5">
                  <span class="c-accordion__plus"></span>
                  FAQ Questions?
                </label>
                <div class="c-accordion__dropdown">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  <br><br>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                </div>
              </div>
            </div>
            -->

            <iframe src="//help.docuwalk.com/" width="100%" allowTransparency></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
