<main class="l-main l-main--clear">
  <div class="c-rewards">
    <div class="c-rewards__container">
      <div class="c-rewards__inner">
        <div class="c-rewards__left-col">
          <div class="c-rewards__block">
            <div class="c-rewards__title">
              Being a partner has its rewards
            </div>

            <div class="c-rewards__text">
              As a DocuWalk corporate partner you get a variety of benefits along with knowing that you’ve helped influence one of the best tools for managing  thousands of businesses worldwide. Love DocuWalk and want to  help spread the word?
            </div>

            <ul class="c-rewards__list c-rewards__list--check">
              <li>Earn rewards and incentives</li>
              <li>VIP access to new tools and technology</li>
              <li>Special partner resources, training and materials</li>
              <li>Priority partner support</li>
              <li>And much more!</li>
            </ul>
          </div>

          <div class="c-rewards__block">
            <div class="c-rewards__title c-rewards__title--highlighted">
              Let's Grow Together
            </div>

            <div class="c-rewards__sub-title c-rewards__title--highlighted">
              Anyone can be a member of our Partner community:
            </div>

            <div class="c-rewards__text">
              <ul class="c-rewards__list">
                <li><b>Affiliate Program:</b> For individuals, evangelists and influencers</li>
                <li><b>Referral Program:</b> For consultants, advisors and professionals</li>
                <li><b>Development Program:</b> For developers, innovators and techies</li>
                <li><b>Corporate Partners Program:</b> For solution providers, integrators and tech companies</li>
              </ul>
            </div>

            <div class="c-rewards__remark">
              * Teams or Enterprise Account Required
            </div>
          </div>
        </div>
        <div class="c-rewards__right-col">
          <div class="c-rewards__image">
            <img src="{{asset "built/images/become-a-partner-image.svg"}}" alt="">
          </div>
          <div class="c-rewards__form">
            <form class="c-form" id="wf-form-partnerProgram" name="wf-form-partnerProgram" data-name="partnerProgram" method="post" action="//identity.docuwalk.com/api/leads/new" redirect="/pricing" data-redirect="/pricing">
              <div class="c-form__inner">
                <div class="c-form__row c-form__row--2">
                  <div class="c-form__col">
                    <input maxlength="70" name="firstName" data-name="firstName" placeholder="First Name" class="c-field w-input" required>
                  </div>
                  <div class="c-form__col">
                    <input maxlength="70" name="lastName" data-name="lastName" placeholder="Last Name" class="c-field w-input" required>
                  </div>
                </div>

                <div class="c-form__row c-form__row--2">
                  <div class="c-form__col">
                    <input type="email" maxlength="70" name="email" data-name="email" placeholder="Email" class="c-field w-input" required>
                  </div>
                  <div class="c-form__col">
                    <input type="tel" maxlength="17" name="phone" data-name="phone" placeholder="Phone" class="c-field w-input" required>
                  </div>
                </div>

                <div class="c-form__row c-form__row--1">
                  <div class="c-form__col">
                    <input type="text" maxlength="70" name="company" data-name="company" placeholder="Company Name" class="c-field w-input" required>
                  </div>
                </div>

                <div class="c-form__row c-form__row--1">
                  <div class="c-form__col">
                    <input type="text" maxlength="70" name="programInterest" data-name="programInterest" placeholder="Program Interest: (Affiliate, Referral, Development, Corporate Partner)" class="c-field w-input" required>
                  </div>
                </div>

                <div class="c-form__row c-form__row--1">
                  <div class="c-form__col">
                    <textarea class="c-field w-input" maxlength="500" name="message" data-name="message" placeholder="Message" spellcheck="false" required></textarea>
                  </div>
                </div>

                <div class="c-form__row c-form__row--1">
                  <div class="c-form__col">
                    <input type="submit" value="Submit" data-wait="Please wait..." class="c-btn c-btn--dark-green c-btn--min w-button">
                    <input type="text" value="partnerProgram" maxlength="20" name="formName" hidden readonly required>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="c-docuwalk">
    <div class="c-docuwalk__container">
      <div class="c-docuwalk__inner">
        <div class="c-docuwalk__image">
          <img src="{{asset "built/images/become-a-partner-brands.svg"}}" alt="">
        </div>

        <div class="c-docuwalk__title">
          Join the community of partner companies that are leading the way
        </div>

        <div class="c-docuwalk__content">
          Work together with DocuWalk to develop new lines of business, integrated solutions, or turn key SaaS products built on or around the DocuWalk platform and blockchain technology. Sign up above and let’s discuss your ideas and see how we can help innovate together.
        </div>

        <div class="c-docuwalk__advertising">
          <!--
          “Working with DocuWalk as a partner has helped our business grow and increased our bottom line savings to 25% on contract management.”
          -->
        </div>
      </div>
    </div>
  </div>
</main>
