<footer class="c-footer">
  <div class="c-footer__body">
    <div class="c-footer__body-inner h-container">
      {{> "footer/footer-contacts-block"}}

      {{> "footer/footer-nav-block"}}

      {{> "footer/footer-subscription-block"}}
    </div>
  </div>

  <div class="c-footer__botton">
    <div class="h-container c-footer__bottom-inner">
      {{> "footer/footer-copywrite-block"}}

      {{> "footer/footer-social-block"}}
    </div>
  </div>
</footer>
