/* .c-file
-----------------------------------------------------------*/
$r: ".c-file";

// block
//-----------------------------------------------------------
#{$r} {
  background-image: url(#{$PATH_TO_IMAGES}/icon-clip.svg);
  border: 1px solid transparent;
  background-position: 0 center;
  background-repeat: no-repeat;
  background-size: auto 1.8em;
  display: inline-block;
  padding-bottom: 9px;
  padding-top: 9px;
  font-weight: 600;
  line-height: 1.4;
  color: #333333;
  font-size: 12px;
  cursor: pointer;
  padding-left: 1.4em;

  // element
  //---------------------------------------------------------
  input {
    display: none;
  }

  // modifier
  //---------------------------------------------------------
}

// influence
//-----------------------------------------------------------
