/* .c-press
-----------------------------------------------------------*/
$r: ".c-press";

// block
//-----------------------------------------------------------
#{$r} {
  background-image: url(#{$PATH_TO_IMAGES}/company-press-bg-1.svg), url(#{$PATH_TO_IMAGES}/company-press-bg-2.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: 0 100%, 0 0;
  background-size: 100% auto, 100% auto;

  // element
  //---------------------------------------------------------
  &__container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1920px;
    padding-left: 32px;
    padding-right: 32px;
  }

  &__inner {
    display: flex;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  &__body {
    flex: 1;
    display: flex;
    padding-right: calc(24% - 294px);
    padding-top: 4%;
    padding-bottom: 4%;
    min-width: 0;
  }

  &__header {
    display: flex;
    align-items: center;
    margin-right: calc(32% - 294px);
    width: 520px;
  }

  &__image {
    flex: none;
    margin-right: 32px;
    height: 240px;
    width: 240px;
  }

  &__content {
  }

  &__title {
    font-family: 'HelveticaNeue', Arial;
    font-size: 56px;
    font-weight: 600;
    line-height: 1.1;
    color: #333333;
  }

  &__text {
    font-size: 14px;
    line-height: 1.6;
    color: #4d6882;
    margin-top: 24px;
  }

  &__publications,
  &__publications-coming-soon {
    display: flex;
    flex-wrap: wrap;
    flex: none;
    width: 41%;
  }

  &__publications-coming-soon {
    align-items: center;
    font-family: 'HelveticaNeue', Arial;
    font-size: 32px;
    font-weight: 600;
    line-height: 1.1;
    color: #333333;
  }

  &__publication {
    width: calc(50% - 32px);
    margin-top: 64px;
    margin-right: 64px;
    color: #999999;
    line-height: 1.5;
    font-size: 14px;

    &:nth-child(2n) {
      margin-right: 0;
    }

    &:nth-of-type(-n + 2) {
      margin-top: 0;
    }

    &--data {

    }

    &--title {
      font-size: 18px;
      font-weight: 600;
      color: #333333;
      margin: 8px 0;
    }

    &--text {

    }
  }

  // modifier
  //---------------------------------------------------------
}

// influence
//-----------------------------------------------------------
