/* .c-sharing
-----------------------------------------------------------*/
$r: ".c-sharing";

// block
//-----------------------------------------------------------
#{$r} {
  display: flex;
  align-items: center;

  // element
  //---------------------------------------------------------
  img {
    display: block;
    width: 1em;
    height: 1em;
    font-size: $size * 4 - 4;
  }

  &__link {
    opacity: .5;
    margin-left: $size;

    #{$r} &:first-child {
      margin-left: 0;
    }
  }

  // modifier
  //---------------------------------------------------------
}

// influence
//-----------------------------------------------------------
