/* .c-subscription
-----------------------------------------------------------*/
$r: ".c-subscription";

// block
//-----------------------------------------------------------
#{$r} {
  display: flex;

  // element
  //---------------------------------------------------------
  &__input {
    flex: 1;
    min-width: 0;
    margin-right: 12px;
  }

  &__control {
    flex: none;
  }

  // modifier
  //---------------------------------------------------------
  &--lg {
    #{$r}__input {
      margin-right: 24px;
    }
  }
}

// influence
//-----------------------------------------------------------
