/* .c-title
-----------------------------------------------------------*/
$r: ".c-title";

// block
//-----------------------------------------------------------
#{$r} {

  font-size: 32px;
  font-weight: 600;

  // element
  //---------------------------------------------------------

  // modifier
  //---------------------------------------------------------
  &--center {
    text-align: center;
  }

  &--w-940 {
    width: 100%;
    margin: 0 auto;
    max-width: 940px;
  }
}

// influence
//-----------------------------------------------------------
