/* .l-container
-------------------------------------------------------------*/
$r: ".l-container";

// base
//-----------------------------------------------------------
#{$r} {
  width: 100%;
  margin: 0 auto;
  max-width: 1400px;
  padding: $size * 4;
  background-color: $white;

  // elements
  //---------------------------------------------------------
  &__tags {
    display: flex;

    > * {
      margin-right: $size * 2;
    }
  }

  // modifiers
  //---------------------------------------------------------
  &--w-960 {
    max-width: 960px;
  }

  &--w-1920 {
    max-width: 1920px;
  }
}

// influence
//-----------------------------------------------------------
